
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_11 */
.startScreen_mobilelabel_11 {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 20px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_2 */
.startScreen_mobilegrid_2 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_2 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_2_row_0, .startScreen_mobilegrid_2_row_0 > td {
	height: 30px
}
.startScreen_mobilegrid_2_row_1, .startScreen_mobilegrid_2_row_1 > td {
	height: 30px
}
.startScreen_mobilegrid_2_row_2, .startScreen_mobilegrid_2_row_2 > td {
	height: 30px
}
/* mobilegridcell_3 */
.startScreen_mobilegridcell_3 {
	height:30px !important;
	width:30%;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_3 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_7 */
.startScreen_mobilelabel_7 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_4 */
.startScreen_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtUserName */
.startScreen_txtUserName {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_5 */
.startScreen_mobilegridcell_5 {
	height:30px !important;
	width:30%;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_8 */
.startScreen_mobilelabel_8 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_6 */
.startScreen_mobilegridcell_6 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_6 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtPassword */
.startScreen_txtPassword {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_12 */
.startScreen_mobilegridcell_12 {
	height:30px !important;
	width:30%;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_12 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_13 */
.startScreen_mobilegridcell_13 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_13 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* btnLogin */
#startScreen_btnLogin {

}
.ui-btn.startScreen_btnLogin {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}
/*
* CSS for scanScreen generated by Exadel Appery
*/
/* mobilebutton_150 */
#scanScreen_mobilebutton_150 {

}
.ui-btn.scanScreen_mobilebutton_150 {

}
/* mobilecontainer */
.ui-content.scanScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilecollapsibleset_142 */
.scanScreen_mobilecollapsibleset_142 {
	margin: 8px 5px 8px 5px;
}
/* mobilecollapsblock_143 */
.scanScreen_mobilecollapsblock_143 {

}
.scanScreen_mobilecollapsblock_143 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_21 */
.scanScreen_mobilelabel_21 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* cmdCheckPoint */
.scanScreen_cmdCheckPoint {
	margin: 4px 5px 4px 5px;
}
/* lblChooseAction */
.scanScreen_lblChooseAction {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* cmdRegAction */
.scanScreen_cmdRegAction {
	margin: 4px 5px 4px 5px;
	display: none;
}
/* cmbPassActions */
.scanScreen_cmbPassActions {
	margin: 4px 5px 4px 5px;
	display: none;
}
/* cmbAmbulanceActions */
.scanScreen_cmbAmbulanceActions {
	margin: 4px 5px 4px 5px;
	display: none;
}
/* btnSaveSettings */
#scanScreen_btnSaveSettings {

}
.ui-btn.scanScreen_btnSaveSettings {
	margin: 4px 5px 4px 5px;
}
/* mobilecollapsblock_146 */
.scanScreen_mobilecollapsblock_146 {

}
.scanScreen_mobilecollapsblock_146 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* btnScanTag */
#scanScreen_btnScanTag {

}
.ui-btn.scanScreen_btnScanTag {
	margin: 4px 5px 4px 5px;
}
/* txtNFCTag */
.scanScreen_txtNFCTag {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* scanStatus */
.scanScreen_scanStatus {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* lblChooseStatus */
.scanScreen_lblChooseStatus {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* cmbRescueActions */
.scanScreen_cmbRescueActions {
	margin: 4px 5px 4px 5px;
	display: none;
}
/* cmbDoctorActions */
.scanScreen_cmbDoctorActions {
	margin: 4px 5px 4px 5px;
	display: none;
}
/* lessInfoGrid */
.scanScreen_lessInfoGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
	display: none;
}
.scanScreen_lessInfoGrid > tr > td {
	vertical-align: top;
}
.scanScreen_lessInfoGrid_row_0, .scanScreen_lessInfoGrid_row_0 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_1, .scanScreen_lessInfoGrid_row_1 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_2, .scanScreen_lessInfoGrid_row_2 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_3, .scanScreen_lessInfoGrid_row_3 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_4, .scanScreen_lessInfoGrid_row_4 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_5, .scanScreen_lessInfoGrid_row_5 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_6, .scanScreen_lessInfoGrid_row_6 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_7, .scanScreen_lessInfoGrid_row_7 > td {
	height: 30px
}
.scanScreen_lessInfoGrid_row_8, .scanScreen_lessInfoGrid_row_8 > td {
	height: 30px
}
/* mobilegridcell_85 */
.scanScreen_mobilegridcell_85 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_85 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_89 */
.scanScreen_mobilelabel_89 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_86 */
.scanScreen_mobilegridcell_86 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_86 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblFirstName */
.scanScreen_lblFirstName {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_87 */
.scanScreen_mobilegridcell_87 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_87 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_90 */
.scanScreen_mobilelabel_90 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_88 */
.scanScreen_mobilegridcell_88 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_88 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblLastName */
.scanScreen_lblLastName {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_91 */
.scanScreen_mobilegridcell_91 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_91 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_99 */
.scanScreen_mobilelabel_99 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_92 */
.scanScreen_mobilegridcell_92 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_92 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblGender */
.scanScreen_lblGender {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_93 */
.scanScreen_mobilegridcell_93 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_93 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_98 */
.scanScreen_mobilelabel_98 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_94 */
.scanScreen_mobilegridcell_94 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_94 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblAge */
.scanScreen_lblAge {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_95 */
.scanScreen_mobilegridcell_95 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_95 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_97 */
.scanScreen_mobilelabel_97 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_96 */
.scanScreen_mobilegridcell_96 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_96 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblBloodGroup */
.scanScreen_lblBloodGroup {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_100 */
.scanScreen_mobilegridcell_100 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_100 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_104 */
.scanScreen_mobilelabel_104 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_101 */
.scanScreen_mobilegridcell_101 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_101 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblGroupCount */
.scanScreen_lblGroupCount {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_102 */
.scanScreen_mobilegridcell_102 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_102 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_110 */
.scanScreen_mobilelabel_110 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_103 */
.scanScreen_mobilegridcell_103 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_103 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblEmergencyContact */
.scanScreen_lblEmergencyContact {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_111 */
.scanScreen_mobilegridcell_111 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_111 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_113 */
.scanScreen_mobilelabel_113 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_112 */
.scanScreen_mobilegridcell_112 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_112 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblEmergencyContactNumber */
.scanScreen_lblEmergencyContactNumber {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_126 */
.scanScreen_mobilegridcell_126 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_126 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_128 */
.scanScreen_mobilelabel_128 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_127 */
.scanScreen_mobilegridcell_127 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_127 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* lblMedicalConditon */
.scanScreen_lblMedicalConditon {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* btnSaveStatus */
#scanScreen_btnSaveStatus {
	display: none;
}
.ui-btn.scanScreen_btnSaveStatus {
	margin: 4px 5px 4px 5px;
}
/* registerGrid */
.scanScreen_registerGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
	display: none;
}
.scanScreen_registerGrid > tr > td {
	vertical-align: top;
}
.scanScreen_registerGrid_row_0, .scanScreen_registerGrid_row_0 > td {
	height: 30px
}
.scanScreen_registerGrid_row_1, .scanScreen_registerGrid_row_1 > td {
	height: 30px
}
.scanScreen_registerGrid_row_2, .scanScreen_registerGrid_row_2 > td {
	height: 30px
}
.scanScreen_registerGrid_row_3, .scanScreen_registerGrid_row_3 > td {
	height: 30px
}
.scanScreen_registerGrid_row_4, .scanScreen_registerGrid_row_4 > td {
	height: 30px
}
.scanScreen_registerGrid_row_5, .scanScreen_registerGrid_row_5 > td {
	height: 30px
}
.scanScreen_registerGrid_row_6, .scanScreen_registerGrid_row_6 > td {
	height: 30px
}
.scanScreen_registerGrid_row_7, .scanScreen_registerGrid_row_7 > td {
	height: 30px
}
.scanScreen_registerGrid_row_8, .scanScreen_registerGrid_row_8 > td {
	height: 30px
}
.scanScreen_registerGrid_row_9, .scanScreen_registerGrid_row_9 > td {
	height: 30px
}
.scanScreen_registerGrid_row_10, .scanScreen_registerGrid_row_10 > td {
	height: 30px
}
/* mobilegridcell_30 */
.scanScreen_mobilegridcell_30 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_35 */
.scanScreen_mobilelabel_35 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_31 */
.scanScreen_mobilegridcell_31 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_31 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtFirstName */
.scanScreen_txtFirstName {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_32 */
.scanScreen_mobilegridcell_32 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_32 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_36 */
.scanScreen_mobilelabel_36 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_33 */
.scanScreen_mobilegridcell_33 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_33 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtLastName */
.scanScreen_txtLastName {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_40 */
.scanScreen_mobilegridcell_40 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_40 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_58 */
.scanScreen_mobilelabel_58 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_41 */
.scanScreen_mobilegridcell_41 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_41 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* cmbGender */
.scanScreen_cmbGender {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_42 */
.scanScreen_mobilegridcell_42 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_42 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_63 */
.scanScreen_mobilelabel_63 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_43 */
.scanScreen_mobilegridcell_43 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_43 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtAge */
.scanScreen_txtAge {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_44 */
.scanScreen_mobilegridcell_44 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_44 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_64 */
.scanScreen_mobilelabel_64 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_45 */
.scanScreen_mobilegridcell_45 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_45 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* cmbBloodGroup */
.scanScreen_cmbBloodGroup {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_46 */
.scanScreen_mobilegridcell_46 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_46 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_67 */
.scanScreen_mobilelabel_67 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_47 */
.scanScreen_mobilegridcell_47 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_47 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtPhonenumber */
.scanScreen_txtPhonenumber {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_48 */
.scanScreen_mobilegridcell_48 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_48 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_69 */
.scanScreen_mobilelabel_69 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_49 */
.scanScreen_mobilegridcell_49 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_49 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* groupCount */
.scanScreen_groupCount {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_50 */
.scanScreen_mobilegridcell_50 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_50 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_71 */
.scanScreen_mobilelabel_71 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_51 */
.scanScreen_mobilegridcell_51 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_51 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtEmergencyContact */
.scanScreen_txtEmergencyContact {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_52 */
.scanScreen_mobilegridcell_52 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_52 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_73 */
.scanScreen_mobilelabel_73 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_53 */
.scanScreen_mobilegridcell_53 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_53 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txtEmergencyContactNumber */
.scanScreen_txtEmergencyContactNumber {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_54 */
.scanScreen_mobilegridcell_54 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_54 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_76 */
.scanScreen_mobilelabel_76 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_55 */
.scanScreen_mobilegridcell_55 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_55 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* SMSPackage */
.scanScreen_SMSPackage {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_81 */
.scanScreen_mobilegridcell_81 {
	height:30px !important;
	width:40%;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_81 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_125 */
.scanScreen_mobilelabel_125 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_82 */
.scanScreen_mobilegridcell_82 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.scanScreen_mobilegridcell_82 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* txaMedicalCondition */
.scanScreen_txaMedicalCondition {
	margin: 4px 0px 4px 0px;
}
/* btnSaveUser */
#scanScreen_btnSaveUser {
	display: none;
}
.ui-btn.scanScreen_btnSaveUser {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.scanScreen_mobilefooter {
	min-height:38px;
}
/*
* CSS for infoScreen generated by Exadel Appery
*/
/* mobilecontainer */
.ui-content.infoScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_1 */
.infoScreen_mobilelabel_1 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.infoScreen_mobilefooter {
	min-height:38px;
}